.auth_container{
height: 100vh;
display: flex;
align-items: center;
flex-direction: column;
}
.auth_container img{
    margin: 30px auto ;
    object-fit: contain;
    width:100px;
}
.form_container{
    border: 1px solid lightgrey;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 350px;
   display: flex;
   flex-direction: column;

}
.form_container h1{
    font-weight: 500;
    margin: 20px 0;
    font-size: 22px;
}
.form_container form{ 
    display: flex;
    flex-direction: column;
    gap: 8px;


}

.form_container form input{
    padding: 8px 16px ;
    border-radius: 2px;
    background-color: white;
    border: none;
    width: 100%;
    border: 2px solid grey;
    border-radius: 3px;
    margin-bottom: 10px;
  
}
.form_container form input:focus{
    outline: 2px solid skyblue;
}
.login{
    height: 30px;
    background-color:  #f0c14b;
cursor: pointer;
width: 100%;
border: none;
margin-top: 10px;
border-radius: 5px;



}

.form_container p{
    font-size: 12px;
    margin-top: 15px;
    padding: 4px 0px;
}
.login_register{
    border: none;
    border-radius: 4px;
    height: 30px;
    cursor: pointer;
margin-top: 10px;
width: 100;

}
.login_register:hover{
    background-color:lightgray;
}
.login:hover{
    background-color: var(--primary-shade);
}