.container {
    padding: 20px;
    display: flex;
    gap: 20px;
}

.cart_container {
    flex: 0.7;
}

.cart_container h2,
.cart_container h3 {
    padding: 10px 0;
}

.cart_container hr {
    margin: 10px 0;
}

.cart_product {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.btn_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.btn {
    padding: 5px 10px;
    cursor: pointer;
}

.subtotal {
    flex: 0.3;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subtotal a {
    text-align: center;
    padding: 10px;
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    text-decoration: none;
    border-radius: 3px;
}