.payment_header{
    padding: 20px;
    text-align: center;
    font-size: 24px;
    background-color: rgb(234, 237, 237);

}
.payment_container{
    padding: 30px;
}
.flex{
    display: flex;
    gap: 30px;
    padding: 30px;
}
.flex h3{
    min-width: 300px;
}

.flex img{
    width: 100px !important;
}
.flex  div{
    height: auto;
}
.payment_description{
    max-width: 350px;
    width: 100%;
}
.card_element{
    font-size: 20px;

}
.payment_price >div{
    display: flex;
    font-size: 16px;
    gap: 10px;
margin-top: 10px;
}

.card_element button{
    border:none;
    padding: 8px 10px ;
cursor: pointer;
background-color: #f0c14b;
border-radius: 4px;
margin-top: 15px;
width: 100%;



}
.card_element button:hover{
    background-color: #ddb347;
}