*{
    margin: 0;
    padding: 0;
}
.header_container{
    height: 70px;
    color: white;
    align-items: center;
    display: flex;
background-color: #1a1a1a;
gap: 10px;
padding:  5px 10px ;
}
.logo_container{
    display:flex;
    align-items: center;
    /* max-width: 250px; */
    justify-content: center;
}
.logo_container img{
    width: 80px;
    padding-top: 5px;
    vertical-align: middle;
    margin-left: 20px;  
    color: white;
}
.delivery p{
    font-size: 10px;
}
.delivery{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    gap: 3px;
    padding: 5px;

}
.search{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    flex: 1;
    width: 600px;
}
.search select ,.search input{
    padding: 10px ;
    font-weight:bold ;
    outline: 1px solid white;
}
.search select{
    border: none;

}
.search svg{
   
padding: 10px;
color: #1a1a1a;
background-color: #febd69;

}
.search input{
    border: 1px solid white;
    min-width: 300px;
    margin-right: -2px;
    flex: 1;


}
.search svg ,.order_container a,.language{
    cursor: pointer;
}
.search svg:hover{
    background-color: #fae34b;

}
.search:focus-within{
    border: 2px solid rgb(255, 161, 173);
}
.order_container{
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 650px;
    justify-content: center;
}
.order_container p{
    font-size: 10px;
    font-weight: normal;

}
.order_container a
{
text-decoration: none;
color: white;
display: flex;
flex-direction:column;
align-items: center;
}
.language{
    width: 100px;
    display: flex;
    padding:10px;
}
.language select{
    background-color: #1a1a1a;
    color: white;
    border: none;


}
.language img{
    width: 40px;
}
.cart{
    position: relative;
}
.cart span{
    position: absolute;
    color: orange;
    font-weight: bold;
    top: -3px;
    font-size: 20px;
    left: 20px;
    background-color: #1a1a1a;

}
/* .order_container a :hover,
.delivery :hover,.logo_container a:hover {
    border: 1px solid white;
    border-radius: 3px;

} */
 .order_container a:hover{
    border: 1px solid white;
    border-radius: 3px;
 }
 .delivery :hover,.logo_container a:hover {
    border: 1px solid white;
    border-radius: 3px;

} 
@media screen and (max-width:576px){
    .header_container{
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
        flex-direction:column !important;
        align-items: stretch;

    }
    .lower_container ul li:not(:first-child){
display: none;
    }
    .language{
        display: none;
    }
    .search{
        flex-direction:column ;
        width: 100%;
        margin-top: 10px;


    } 
    .order_container{
        flex-direction: column;
        align-items: flex-start;
    }
}
.lower_container{
   background-color: #232f3e;
   color: white; 
}
.lower_container ul{
    display: flex;
    gap: 3px;
    list-style: none;
}
.lower_container ul li{
    padding: 8px;

}
.lower_container ul li :first-child{
    display: flex;
    gap: 2px;
    align-items: center;
}
.lower_container  ul li:hover  {
border: 1px solid white;
border-radius: 3px;
}