.hero_image{
    position: relative;
}
    .hero_image::before{
        content:"";
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 300px;
        background-image: linear-gradient(
            to bottom,
            rgb(225,225,225,0),
            rgb(225,225,225)
        );

    }
   /* Inside carousel.module.css */

.carousel_container {
    /* Set a height that is appropriate for your images */
    height: 400px; 
    /* Optionally, set the max-width to control overall size */
    max-width: 1500px;
    margin: 0 auto; /* Centers the carousel */
}