.hero_image{
    position: relative;
}
    .hero_image::before{
        content:"";
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 300px;
        background-image: linear-gradient(
            to bottom,
            rgb(225,225,225,0),
            rgb(225,225,225)
        );

    }