.container{
    background-color: #efeeee;
    padding: 30px;
}
.orders_container{
    background-color: #ffff;
    padding: 20px;
}
.orders_container h2{
    border-bottom: 2px solid var(--primary-color);

}
.orders_container p{
  padding: 12px;
}
.orders_container img{
    width: 200px !important;
}
.orders_container div{
    height: auto !important;
}